{% extends '/base.html.twig' %}

{% block title %}Symrecipe - Ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Mes ingrédients</h1>
        <a href="{{ path('ingredient.new') }}" class="btn btn-primary mb-4 mt-2">Créer un ingrédient</a>
        {% if not ingredients.items is same as ([]) %}

            {#  Display message flash when modify or suppress ingredient #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de création</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <th scope="row">{{ ingredient.id }}</th>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price }}</td>
                <td>{{ ingredient.createdAt|date('d/m/Y')  }}</td>
                <td>
                    <a href="{{ path('ingredient.edit', {id: ingredient.id}) }}" class="btn btn-info">Modifier</a>
                </td>
                <td>
                    <a href="{{ path('ingredient.delete', {id: ingredient.id}) }}" class="btn btn-warning">Supprimer</a>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(ingredients) }}
        </div>
        {% else %}
        <div class="count">
            Il n'y a pas d'ingrédient
        </div>
        {% endif %}
    </div>
    {# display navigation #}

{% endblock %}
