{% extends 'base.html.twig' %}

{% block title %}
    Symrecipe - {{ recipe.name }}
{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-4"> {{ recipe.name }}</h1>

        <p>Moyenne de la recette : {{ recipe.average|number_format(1, '.', ',') }} / 5</p>
        <span class="badge bg-primary">Créée le : {{ recipe.createdAt|date('d/m/y ') }}</span>
        {% if recipe.time %}
        <p class="mt-4">Temps (minutes) : {{ recipe.time }}</p>
        {% else %}
        <p class="mt-4">Temps non renseigné</p>
        {% endif %}

        {% if recipe.nbPeople %}
        <p>Pour {{ recipe.nbPeople }} personne.s</p>
        {% else %}
        Nombre de personnes non renseigné
        {% endif %}


        {% if recipe.difficulty %}
            <p class="mt-4">Difficulté : {{ recipe.difficulty }}</p>
        {% else %}
            <p class="mt-4">Difficulté non renseignée</p>
        {% endif %}


        {% if recipe.price %}
            <p>Prix (€) : {{ recipe.price }}</p>
        {% else %}
            Prix non renseigné
        {% endif %}

        <div>
            {{ recipe.description|raw }}
        </div>

        <p class="mt-4">Ingrédients : </p>
        {% for ingredient in recipe.ingredients %}
            <span class="badge bg-primary">{{ ingredient.name }}</span>
        {% endfor %}

        <div class="mark mt-4">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}